appdirs==1.4.4
asgiref==3.4.1
attrs==21.2.0
autopage==0.4.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
cliff==3.9.0
cmd2==2.2.0
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==35.0.0
debtcollector==2.3.0
decorator==5.1.0
Django==3.2.7
django-cors-headers==3.8.0
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-api-key==2.1.0
dogpile.cache==1.1.4
idna==3.2
iso8601==0.1.16
itypes==1.2.0
Jinja2==3.0.1
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.1
keystoneauth1==4.4.0
Markdown==3.3.4
MarkupSafe==2.0.1
msgpack==1.0.2
munch==2.5.0
mysqlclient==2.0.3
netaddr==0.8.0
netifaces==0.11.0
openstacksdk==0.59.0
os-service-types==1.7.0
osc-lib==2.4.2
oslo.config==8.7.1
oslo.i18n==5.1.0
oslo.serialization==4.2.0
oslo.utils==4.10.0
packaging==21.0
pbr==5.6.0
prettytable==2.2.1
pycparser==2.20
PyMySQL==1.0.2
pyparsing==2.4.7
pyperclip==1.8.2
python-cinderclient==8.1.0
python-keystoneclient==4.3.0
python-novaclient==17.6.0
python-openstackclient==5.6.0
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
requestsexceptions==1.4.0
rfc3986==1.5.0
simplejson==3.17.5
six==1.16.0
sqlparse==0.4.2
stevedore==3.4.0
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.7
wcwidth==0.2.5
wrapt==1.12.1
