#login-page h1 {
  text-align: center;
  margin: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login-page i {
  width: 60%;
  height: 15px;
  display: block;
  margin: 20px auto;
}

#login-page input {
  width: 60%;
  height: 25px;
  display: block;
  margin: 20px auto;
  border: 1px solid blue;
  border-radius: 2px;
}

#login-btn {
  display: block;
  margin: 30px auto;
  padding-left: 30px;
  padding-right: 30px;
}