#user-header {
  height: 200px;
  width: 98%;
  margin: 5px auto;
  background: gray;
  border: 1px grey;
}

#user-header h1 {
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
}

#user-header hr {
  width: 96%;
  margin: 0 auto;
  color: black;
}

#user-header #user-avatar {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  height: 50px;
  width: 50px;
  color: #F5F5F5;
  background: #6495ED;
  font-size: 50px;
}

#user-header #user-info {
  float: left;
  margin-left: 50px;
  margin-top: 0px;
}